div{
    background-color: aqua;
    border: 1px solid magenta;
    width:250px;
    height: 200px;
    margin:10px;
}
p{
    background-color: blueviolet;
    border: 1px solid magenta;
    width:200px;
    height: 25px;
    
}
h3{
    text-align: center;

}
h3{
    color: blueviolet;
    text-align: center;
}
#push{
    color: crimson;
}